
body {
	text-align: center;
}

header, nav, section, footer, body {
	border: 1px solid lightblue;
	padding: 10px;
}

article {
	border: 1px solid green;
	background-color: lightgray;
	padding: 10px;
}

nav a {
	padding: 10px 20px;
	background-color: gray;
	text-decoration: none;
}

#gallery_article table {
	width: 50%;
	margin: auto;
}

#gallery_article td {
	padding: 10px 20px;
}

#gallery_article td img {
	height: 120px;
	width: 120px;
}

/*input[type="text"]*/
input {
	padding: 10px 10px;
}

#gradeLetter {
	display: inline-block;
	background-color: green;
	color: yellow;
	padding: 20px;
	border: 2px solid lightgreen;
}

h2 {
	color: green;
}

a:hover {
	color: lightgray;
}
